.symbol {
    height: auto;
    padding: 1em;
    display: flex;
    flex-direction: row;
    background-color: #dedede;
    color: white !important;
}
.bg {
    
    background-color: rgba(255,171,64) !important;
}


.bg p {
    color: white !important;
}

body  {
    font-family: 'Roboto';
}


h2, h4 {
    color: black;
}

.mdl-layout__header .mdl-layout__drawer-button {
    align-items: center;
    display: flex;
    justify-content: center;
}

.page-content {
    padding: 1em;
    background-color: #fefefe;
}

.green {
    font-weight: bold;
    color: green;
}
.red {
    font-weight: bold;
    color: red;
}
.list {
    width: 90%;
}
.tools {
    padding: 1em;
    color: #ffffff;
}

.rate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mdl-progress {
    width: 100% !important;
}
.disclaimer {
    margin-top: 1em;
}

    .card {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            font-size: 16px;
            font-weight: 400;
            min-height:auto;
            overflow: hidden;
            width: 100%;
            z-index: 1;
            position: relative;
            background: #fff;
            border-radius: 2px;
            box-sizing: border-box;
      
    }