
.padding {
    padding: 1em;
}

.cell {
    background-color: #4a6572;
    color: white;
    border-radius: 5px;
}

.cell-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #344955; 
}

.cell-content {
    display: flex;
    justify-content: space-between;
}

body  {
    font-family: 'Roboto' !important;
}

.mdl-layout__header .mdl-layout__drawer-button {
    align-items: center;
    display: flex;
    justify-content: center;
}

.page-content {
    background-color: #344955;
}
.mdl-layout__header, .mdl-layout__content {
    background-color: #344955 !important;
}

.green {
    font-weight: bold;
    color: green;
}
.red {
    font-weight: bold;
    color: red;
}

.rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    color: white;
    margin-bottom: 2em;
}

.mdl-progress {
    width: 100% !important;
}
.disclaimer {
    margin-top: 1em;
    color: white;

}

   